<!DOCTYPE html>
<html>
<head>
  <title>Biblio Virtual</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
  <%= yield %>
  <% flash.each do |type, msg| %>

  <div class="alert">
      <%= msg %>
    <button type="button" class="close" onclick="this.parentElement.style.display='none';">&times;</button>
  </div>
  <% end %>

</body>
</html>